.btn {
  padding: 10px;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  line-height: 14px;
  transition: 350ms ease-in-out all;
}
.primary {
  color: #fff;
  background-color: var(--primeryColor);
}
.primary svg,
.secondary:hover svg,
.secondary:focus svg {
  fill: #fff;
}
.primary:hover,
.primary:focus {
  background-color: var(--hoverBtn);
}
.secondary {
  color: var(--color);
  background-color: var(--background-color);
  border: 1px solid var(--grayLight);
}
.secondary:hover,
.secondary:focus {
  background-color: var(--primeryColor);
  color: #fff;
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}
.down {
  transform: rotate(90deg);
  transition: 350ms ease-in-out all;
}
