.btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: var(--primeryColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  border: transparent;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--hoverBtn);
}
