.filled svg {
  fill: var(--primeryColor);
  transition: fill 200ms ease-in-out;
}
.star svg {
  margin-left: 5px;
}
.editeble {
  cursor: pointer;
}
.star {
  display: inline-block;
}
.wrapper {
  position: relative;
}
.error svg {
  stroke: red;
}
.errMessage {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: red;
  font-weight: bold;
}
