.reviewForm {
  display: grid;
  grid-template-columns: [start] auto 1fr auto [end];
  gap: 20px 30px;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
}
.title {
  justify-self: left;
}
.raitingWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}
.textarea,
.submitWrapper {
  grid-column: start / end;
}
.btn {
  margin-right: 10px;
  width: 150px;
}
.success {
  position: relative;
  background-color: #c8f8e4;
  padding: 20px;
  margin-top: 20px;
}
.error {
  position: relative;
  background-color: #ef2b2b7d;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.closeErr path {
  stroke: red;
}
@media screen and (max-width: 1024px) {
  .reviewForm {
    grid-template-columns: [start] 1fr 1fr [end];
  }
  .raitingWrapper {
    grid-column: start / end;
  }
  .title {
    justify-self: normal;
  }
}
@media screen and (max-width: 640px) {
  .reviewForm {
    grid-template-columns: [start] 1fr [end];
  }
}
